.App {
	text-align: center;
	background-color: seagreen;
	padding-bottom: 10rem;
	height: 100vh;
}

a {
	color: #ffffff;
}

/* Game.js parent div */
.Game {
	background-size: cover;
	margin: 0;
	height: 100vh;
}
.mainView {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* height: 9.6rem; use this because we want to make header sticky - later */
	padding: 0 4.8rem;
	position: relative;
}
.nav_buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;
}
button.btn_options {
	background-color: inherit;
	border: 0;
}
button.btn_help {
	background-color: inherit;
	border: 0;
}
#pophelp {
	position: fixed;
	width: 500px;
	/* height: 200px; */
	top: 10%;
	left: 50%;
	/* margin-top: 100px; Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	background-color: #fff;
	border: 3px solid #333;
	border-radius: 5px;
	z-index: 100;
	padding: 2rem 2rem 2rem 4rem;
	text-align: left;
	line-height: 1.8;
	color: #333;
}
#popinfo {
	position: fixed;
	width: 250px;
	/* height: 200px; */
	top: 55%;
	left: 50%;
	/* margin-top: 100px; Negative half of height. */
	margin-left: -125px; /* Negative half of width. */

	background-color: lightgreen;
	background-color88: #ccc;
	border: 3px solid #333;
	border-radius: 5px;
	z-index: 100;
	padding: 1rem 1rem 1rem 1rem;
	text-align: left;
	color: #333;
}
#stealBtn {
	margin-right: 0.5rem;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 3px;
}

#pophelp h1 {
	text-align: center;
	margin-bottom: 1rem;
}
#pophelp ul {
	margin-bottom: 1rem;
}
.closeHelpBtn {
	padding: 0.5rem;
	border-radius: 5px;
	border: 2px solid #333;
}
.helpDiv {
	display: none;
}
.stealDiv {
	display: block;
}
.showMe {
	display: block !important;
}
.hideMe {
	display: none !important;
}
.feature-icon {
	color: #333;
	height: 1.2rem;
	width: 1.2rem;
	background-color: lightgreen;
	padding: 0.6rem;
	border-radius: 50%;
	border: 1px solid #333;
}

.playerSection {
	margin: 1rem auto 0;
	display: grid; /* to display icon & text in vertical center */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	gap: 1.5rem;
	position: relative;
}
.youwin_banner88 {
	position: fixed;
	display: flex;
	justify-content: space-around;
	background-color: blueviolet;
	color: white;
	top: 40%;
	left: 50%;
	width: 70%;
	margin-left: -35%;
	font-size: 5rem;
	border-radius: 5px;
	padding: 0.5rem;
	border: 1px solid white;
	visibility: hidden;
}
.youwin_banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.3);
}
.youwin_text {
	position: fixed;
	top: 40%;
	left: 50%;
	width: 70%;
	margin-left: -35%;
	font-size: 5rem;
	border-radius: 5px;
	padding: 0.5rem;
	border: 1px solid white;
	display: flex;
	justify-content: space-around;
	background-color: blueviolet;
	color: white;
}
.youwin_banner.youwin {
	visibility: visible;
}

.playerCard {
	display: flex;
	flex-direction: column;
	padding: 1rem 0rem;
	border-radius: 8px;
	border: 1px solid #bbb;
}
.playerCard0 {
	background-color: #6dae89;
}
.playName {
	color: #eee;
	height: 2rem;
	padding-bottom: 1rem;
}

/* Draw Pile & Win Pile at top of Player Section */
.cardPiles {
	display: flex;
	width: 85%;
	align-items: flex-start;
	justify-content: space-around;
	gap: 0.5rem;
	margin: 1rem auto;
}

.cardPileDown {
	position: relative;
	width: 50%;
}
.numDown {
	position: absolute;
	top: -15px;
	left: 0px;
	color: #333;
}

.cardPileUp {
	position: relative;
	width: 40%;
	padding-top: 1rem;
}

.numUp {
	position: absolute;
	top: -15px;
	left: -5px;
	color: #333;
}

.cardImg0a {
	width: 80%;
	max-width: 100%;
}
.cardImg0b {
	width: 65%;
	max-width: 100%;
	border: 1px solid #666;
	border-radius: 5px;
}
.cardImg0b.stolen {
	border: 3px solid yellow;
}

.cardImgBlank {
	width: 65%;
	max-width: 100%;
	border: 1px solid #666;
	border-radius: 5px;
}

/* MAIN UP Card for each player */
.currentPlay {
	min-height: 35vh;
	overflow: hidden;
	position: relative;
}
.hideme {
	display: none;
}

/* The flipped up card at start of each round */
.cardImg1 {
	width: 65%;
	max-width: 85%;
	border: 1px solid #666;
	border-radius: 8px;
}
.cardImg1.stealer {
	border: 5px solid yellow;
}

/* cardPlay2 is the TieBreak section -- hidden by default */
div.cardPlay2 {
	display: none;
}
.showTie {
	display: block !important;
}

/*  TIED Cards (3 cards at top) -- tied card, downcard1 & downcard2 */
.oldImages_div {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	max-height: 5rem;
	overflow: hidden;
}
.no-flexbox-gap .oldImages_div img:not(:last-child) {
	margin-right: 0.5rem;
}

.cardImg2 {
	width: 20%;
	max-width: 35%;
	border: 1px solid #666;
	border-radius: 5px;
	height: 100%;
}
.cardImg2a {
	width: 17%;
	max-width: 25%;
	height: 80%;
	opacity: 0.9;
}
/*  Tie-breaker card -- the flipped up card to break the tie  */
.cardImg2b {
	width: 50%;
	max-width: 65%;
	margin-top: 1rem;
	border: 2px solid #666;
	border-radius: 8px;
}
.cardImg2b.stealer {
	border: 5px solid yellow;
}

/* ELIMINATED PLAYERS */
.loserMode {
	font-size: 130%;
	color: #333;
	margin: 35% auto 0;
	width: 50%;
	background-color: #ddd;
	display: none;
	border-radius: 5px;
}
.loserMode.showLoserText {
	display: block !important;
}

/* WINNER */
.winnerMode {
	font-size: 230%;
	color: #333;
	margin88: 28% auto 0;
	margin: 28% -2rem 0;
	width88: 90%;
	width: 130%;
	background-color: lime;
	display: none;
	border-radius88: 5px;
	border: 2px solid #333;
	transform: rotate(-20deg);
}
.winnerMode.showWinnerText {
	display: block !important;
}
.pRemoves {
	font-size: 90%;
	color: #666;
	background-color: #d3e7dc;
	margin: 0 auto;
	height: 1.5rem;
	width: 70%;
	border-radius: 3px;
}
.pRemovesDummy {
	height: 1.5rem;
}
div.data-remove {
	display: inline;
}
/* Round Result SEction -- e.g. Win or Tie message */
.rnd_result {
	height: 20px;
	margin-top: 0.5rem;
}
.rnd_result.win88 {
	background-color: #fff;
	color: #333;
	padding: 0.3rem 1rem;
	width: 2rem;
	margin: 0 auto;
}
.rnd_result.win {
	color: #fff;
	margin: 0.5rem auto 0;
}
.rnd_result.tie {
	color: #333;
	margin: 0.5rem auto 0;
}
.steal_div {
	margin-top: 1rem;
}

/* Round Update Message */
.messageSection {
	margin: 1rem 0 0 0.5rem;
}
.msg-removed {
	color: #ddd;
	margin-right: 2rem;
}
.msg-misc {
	color: palegreen;
	margin-right: 2rem;
}
.msg-steal {
	color: ghostwhite;
}
.msg-steal2 {
	color: #333;
}
.msg-round-win {
	color: darkblue;
	margin-right: 1rem;
}
.msg-winner {
	color: #fff;
	margin-right: 1rem;
	font-size: 125%;
}

/* CARD REmoval Section */
.removedCardSection {
	display: flex;
	gap: 2rem;
	background-color: #c0dccd; /* tint for seagreen (##2E8B57)  */
	border-radius: 5px;
	margin-top: 0.5rem;
}
.totRemovedCards {
	font-size: 90%;
	color: blue;
	margin-left: 0.5rem;
	font-weight: normal;
}

.intro-remove {
	width: 20%;
	text-align: right;
}
/* FIX to flexbox gap issue for iPad */
.no-flexbox-gap .intro-remove {
	margin-right: 2rem;
}

.data-remove {
	width: 70%;
	text-align: left;
}
.card-value88 {
	margin-right: 0.5rem;
}
.remove-comma {
	color: #333 !important;
}
span.suit-hearts,
span.suit-diams {
	color: red;
}
span.suit-spades,
span.suit-clubs {
	color: #000;
}
span.suit-spades::after {
	content: "♠️";
	margin-left: 2px;
}
span.suit-hearts::after {
	content: "♥️";
	margin-left: 2px;
}
span.suit-clubs::after {
	content: "♣️";
	margin-left: 2px;
}
span.suit-diams::after {
	content: "♦️";
	margin-left: 2px;
}

/* NEXT Button Section */
.nextButton {
	padding: 0.5rem 1rem;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: lightgreen;
}
/* NEXT Button Section */
.newGame-Button {
	padding: 0.5rem 1rem;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: lime;
}
