.App {
	text-align: center;
	background-color: seagreen;
	padding-bottom: 10rem;
	height: 100vh;
}

a {
	color: #ffffff;
}

/* Game.js parent div */
.Game {
	background-size: cover;
	margin: 0;
	height: 100vh;
}
.mainView {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

.playerSection {
	margin: 1rem auto 0;
	display: grid; /* to display icon & text in vertical center */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	gap: 1.5rem;
}
.playerCard {
	display: flex;
	flex-direction: column;
	padding: 1rem 0rem;
	border-radius: 8px;
	border: 1px solid #bbb;
}
.playerCard0 {
	background-color: #6dae89;
}
.playName {
	color: #eee;
	height: 2rem;
	padding-bottom: 1rem;
}

/* Draw Pile & Win Pile at top of Player Section */
.cardPiles {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-around;
	gap: 0.5rem;
	margin: 1rem 0;
}

.cardPileDown {
	position: relative;
	width: 50%;
}
.numDown {
	position: absolute;
	top: -15px;
	left: 0px;
	color: #333;
}

.cardPileUp {
	position: relative;
	width: 40%;
	padding-top: 1rem;
}

.numUp {
	position: absolute;
	top: -15px;
	left: -10px;
	color: #333;
}

.cardImg0a {
	width: 80%;
	max-width: 100%;
}
.cardImg0b {
	width: 65%;
	max-width: 100%;
	border: 1px solid #666;
	border-radius: 5px;
}
.cardImgBlank {
	width: 65%;
	max-width: 100%;
	border: 1px solid #666;
	border-radius: 5px;
}

/* MAIN UP Card for each player */
.currentPlay {
	min-height: 40vh;
	overflow: hidden;
	position: relative;
}
.hideme {
	display: none;
}

/* The flipped up card at start of each round */
.cardImg1 {
	width: 75%;
	max-width: 85%;
	border: 1px solid #666;
	border-radius: 8px;
}

/* cardPlay2 is the TieBreak section -- hidden by default */
div.cardPlay2 {
	display: none;
}
.showTie {
	display: block !important;
}

/*  TIED Cards (3 cards at top) -- tied card, downcard1 & downcard2 */
.oldImages_div {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	max-height: 6rem;
	overflow: hidden;
}
.no-flexbox-gap .oldImages_div img:not(:last-child) {
	margin-right: 0.5rem;
}

.cardImg2 {
	width: 20%;
	max-width: 35%;
	border: 1px solid #666;
	border-radius: 5px;
	height: 100%;
}
.cardImg2a {
	width: 17%;
	max-width: 25%;
	height: 80%;
	opacity: 0.9;
}
/*  Tie-breaker card -- the flipped up card to break the tie  */
.cardImg2b {
	width: 65%;
	max-width: 65%;
	margin-top: 1rem;
	border: 2px solid #666;
	border-radius: 8px;
}

/* ELIMINATED PLAYERS */
.loserMode {
	font-size: 130%;
	color: #333;
	margin: 35% auto 0;
	width: 50%;
	background-color: #ddd;
	display: none;
	border-radius: 5px;
}
.loserMode.showLoserText {
	display: block !important;
}

/* WINNER */
.winnerMode {
	font-size: 230%;
	color: #333;
	margin88: 28% auto 0;
	margin: 28% -2rem 0;
	width88: 90%;
	width: 130%;
	background-color: lime;
	display: none;
	border-radius88: 5px;
	border: 2px solid #333;
	transform: rotate(-20deg);
}
.winnerMode.showWinnerText {
	display: block !important;
}

/* Round Result SEction -- e.g. Win or Tie message */
.rnd_result {
	height: 20px;
}
.rnd_result.win88 {
	background-color: #fff;
	color: #333;
	padding: 0.3rem 1rem;
	width: 2rem;
	margin: 0 auto;
}
.rnd_result.win {
	color: #fff;
	margin: 0 auto;
}
.rnd_result.tie {
	color: #333;
	margin: 0 auto;
}
.steal_div {
	margin-top: 1rem;
}

/* Round Update Message */
.messageSection {
	margin: 1rem 0 0 0.5rem;
}
.msg-removed {
	color: #ddd;
	margin-right: 2rem;
}
.msg-misc {
	color: yellow;
	margin-right: 2rem;
}
.msg-round-win {
	color: darkblue;
	margin-right: 1rem;
}
.msg-winner {
	color: #fff;
	margin-right: 1rem;
	font-size: 125%;
}

/* CARD REmoval Section */
.removedCardSection {
	display: flex;
	gap: 2rem;
	background-color: #c0dccd; /* tint for seagreen (##2E8B57)  */
	border-radius: 5px;
	margin-top: 0.5rem;
}
.intro-remove {
	width: 20%;
	text-align: right;
}
/* FIX to flexbox gap issue for iPad */
.no-flexbox-gap .intro-remove {
	margin-right: 2rem;
}

.data-remove {
	width: 70%;
	text-align: left;
}
.card-value88 {
	margin-right: 0.5rem;
}
.remove-comma {
	color: #333 !important;
}
span.suit-hearts,
span.suit-diams {
	color: red;
}
span.suit-spades::after {
	content: "♠️";
}
span.suit-hearts::after {
	content: "♥️";
}
span.suit-clubs::after {
	content: "♣️";
}
span.suit-diams::after {
	content: "♦️";
}

/* NEXT Button Section */
.nextButton {
	padding: 0.5rem 1rem;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: lightgreen;
}
/* NEXT Button Section */
.newGame-Button {
	padding: 0.5rem 1rem;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: lime;
}
